/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #ffffff;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.left_centered {
  position: absolute;
  top: 30%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  text-align: left;
}

.content {
    padding: 20px; /* Add padding to ensure content is not right on the edge */
}

/* Add this CSS rule for the vertical line */
.vertical-line {
    width: 1px; /* Width of the line */
    background-color: rgb(117, 117, 117); /* Color of the line */
    height: 100%; /* Full height of the parent container */
    position: absolute; /* Positioning */
    z-index: 2; /* Ensure it is on top */
    left: 50%; /* Center it */
    transform: translateX(-50%); /* Adjust for the width */
    top:  0;
}
