{% extends "base.html" %}

{% block content %}

<div class="vertical-line"></div>
<div class="split left">
    <div class="content">
        <img src="{{ image }}" height="200" width="400">
        <h2>Info:</h2>
        <p>{{ blurb }}</p>
    </div>
</div>

<div class="split right">
    <div class="content">
        <h2>Does this work?</h2>
         <table>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Direction</th>
            </tr>
            <tr>
                <td>{{ state.get('gusses')[0][0] }}</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
                        <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
                        <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
        </table> 
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.guess.label }}<br>
                {{ form.guess(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
</html>

{% endblock %}
