{% extends "base.html" %}

{% block content %}

<div class="vertical-line"></div>
<div class="split left">
    <div class="content">
        <img src="{{ image }}" height="200" width="400">
        <h2>Info:</h2>
        <p>{{ blurb }}</p>
    </div>
</div>

<div class="split right">
    <div class="content">
        <h2>Does this work?</h2>
         <table>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Direction</th>
            </tr>
            <tr>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[0][0] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[0][2] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[0][4] }}</td>
            </tr>
            <tr>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[1][0] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[1][2] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[1][4] }}</td>
            </tr>
            <tr>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[2][0] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[2][2] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[2][4] }}</td>
            </tr>
            <tr>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[3][0] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[3][2] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[3][4] }}</td>
            </tr>
                        <tr>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[4][0] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[4][2] }}</td>
                <td>{{ "" if state.get('guesses')!=None else state.get('guesses')[4][4] }}</td>
            </tr>
        </table> 
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.guess.label }}<br>
                {{ form.guess(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
</html>

{% endblock %}
