<link rel="stylesheet" type="text/css" href="testing.css">

<html>
    <head>
        <link rel="shortcut icon" href="static/favicon.ico">
        <title>City Gusser</title>
    </head>
    <body>
        <!-- <div> For some reason this does not show up. We don't need it for now so its fine.
            Microblog: <a href="/index">Home</a>
            <a href="/login">Login</a>''
        </div> -->
        <div class="vertical-line"></div>
        <div class="split right">
        <hr>
        <div class="split left">
            <div class="centered">
                <img src="https://web.niiccoo2.xyz/photo.JPG" height="200" width="400">
                <h2>Jane Flex</h2>
                <p>Some text.</p>
            </div>
        </div>

        <div class="split right">
            <div class="centered">
                <img src="img_avatar.png" alt="Avatar man">
                <h2>John Doe</h2>
                <p>Some text here too.</p>
            </div>
        </div> 
    </body>
</html>
